@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?njpbvk');
  src:  url('fonts/icomoon.eot?njpbvk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?njpbvk') format('truetype'),
    url('fonts/icomoon.woff?njpbvk') format('woff'),
    url('fonts/icomoon.svg?njpbvk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e981";
}
.icon-mobile-phone:before {
  content: "\e983";
}
.icon-tuijian:before {
  content: "\e984";
}
.icon-man:before {
  content: "\e985";
}
.icon-vcode:before {
  content: "\e986";
}
.icon-expert:before {
  content: "\e92c";
  color: #8e8e8e;
}
.icon-expert-selected:before {
  content: "\e92d";
}
.icon-home:before {
  content: "\e92e";
  color: #8e8e8e;
}
.icon-home-selected:before {
  content: "\e92f";
}
.icon-information:before {
  content: "\e932";
  color: #8e8e8e;
}
.icon-information-selected:before {
  content: "\e934";
}
.icon-mine:before {
  content: "\e951";
  color: #8e8e8e;
}
.icon-mine-selected:before {
  content: "\e952";
}
.icon-my-asvosory:before {
  content: "\e953";
}
.icon-my-collection:before {
  content: "\e954";
}
.icon-my-evaluation:before {
  content: "\e956";
}
.icon-my-expert:before {
  content: "\e957";
}
.icon-my-project:before {
  content: "\e962";
}
.icon-my-set:before {
  content: "\e96a";
}
.icon-cityicon .path1:before {
  content: "\e96b";
  color: rgb(255, 207, 0);
}
.icon-cityicon .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 242, 214);
}
.icon-cityicon .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-expert-video .path1:before {
  content: "\e96e";
  color: rgb(252, 97, 81);
}
.icon-expert-video .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.7948;
}
.icon-expert-video .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-expert-video .path4:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(252, 97, 81);
}
.icon-yimingicon .path1:before {
  content: "\e972";
  color: rgb(96, 200, 111);
}
.icon-yimingicon .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yimingicon .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(218, 244, 222);
}
.icon-yimingicon .path4:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(218, 244, 222);
}
.icon-pingguicon .path1:before {
  content: "\e975";
  color: rgb(0, 132, 255);
}
.icon-pingguicon .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pingguicon .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(187, 222, 255);
}
.icon-polict .path1:before {
  content: "\e978";
  color: rgb(255, 207, 0);
}
.icon-polict .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-radiers .path1:before {
  content: "\e97a";
  color: rgb(0, 132, 255);
}
.icon-radiers .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-radiers .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 132, 255);
}
.icon-share2 .path1:before {
  content: "\e97d";
  color: rgb(252, 97, 81);
}
.icon-share2 .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-life .path1:before {
  content: "\e97f";
  color: rgb(96, 200, 111);
}
.icon-life .path2:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fail:before {
  content: "\e968";
}
.icon-pass:before {
  content: "\e969";
}
.icon-wxpay:before {
  content: "\e967";
  color: #00c800;
}
.icon-success:before {
  content: "\e966";
}
.icon-read-people:before {
  content: "\e935";
  color: #c1c1c1;
}
.icon-Shape:before {
  content: "\e965";
  color: #4a4a4a;
}
.icon-doing:before {
  content: "\e963";
}
.icon-end:before {
  content: "\e964";
}
.icon-nice:before {
  content: "\e930";
}
.icon-mark:before {
  content: "\e961";
}
.icon-eyes:before {
  content: "\e939";
}
.icon-hide:before {
  content: "\e960";
}
.icon-fashion:before {
  content: "\e95f";
}
.icon-zfb:before {
  content: "\e95e";
}
.icon-collection2:before {
  content: "\e95d";
}
.icon-1234:before {
  content: "\e95a";
}
.icon-chat:before {
  content: "\e95b";
}
.icon-phone:before {
  content: "\e95c";
}
.icon-assistance:before {
  content: "\e959";
}
.icon-live:before {
  content: "\e950";
}
.icon-my-notice:before {
  content: "\e955";
}
.icon-my-sign:before {
  content: "\e958";
}
.icon-USA .path1:before {
  content: "\e93a";
  color: rgb(217, 55, 75);
}
.icon-USA .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-USA .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-USA .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(35, 60, 175);
}
.icon-USA .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(35, 60, 175);
}
.icon-USA .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Australia .path1:before {
  content: "\e940";
  color: rgb(0, 100, 167);
}
.icon-Australia .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Australia .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Australia .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Australia .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-Australia .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-Australia .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Canada:before {
  content: "\e947";
  color: #d9374b;
}
.icon-NewZealand .path1:before {
  content: "\e948";
  color: rgb(0, 100, 167);
}
.icon-NewZealand .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-NewZealand .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-NewZealand .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-NewZealand .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-NewZealand .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-NewZealand .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-NewZealand .path8:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(217, 55, 75);
}
.icon-(1):before {
  content: "\e904";
}
.icon-1:before {
  content: "\e907";
}
.icon-down:before {
  content: "\e909";
}
.icon-selected:before {
  content: "\e90f";
}
.icon-book:before {
  content: "\e910";
}
.icon-city:before {
  content: "\e91f";
}
.icon-column:before {
  content: "\e920";
}
.icon-evaluate:before {
  content: "\e931";
}
.icon-interpretation:before {
  content: "\e933";
}
.icon-oversea:before {
  content: "\e936";
}
.icon-project:before {
  content: "\e937";
}
.icon-job:before {
  content: "\e938";
}
.icon-collection:before {
  content: "\e900";
}
.icon-return:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-audio:before {
  content: "\e903";
}
.icon-consulted:before {
  content: "\e905";
  color: #818181;
}
.icon-video:before {
  content: "\e906";
}
.icon-consulted2:before {
  content: "\e908";
}
.icon-Expert-fashion:before {
  content: "\e90a";
}
.icon-Expert-Financial:before {
  content: "\e90b";
}
.icon-Expert-legal:before {
  content: "\e90c";
}
.icon-Expert-more:before {
  content: "\e90d";
}
.icon-button-up-down:before {
  content: "\e90e";
  color: #d8d8d8;
}
.icon-customer-service:before {
  content: "\e911";
}
.icon-drop-down-arrow:before {
  content: "\e912";
}
.icon-visa:before {
  content: "\e913";
}
.icon-Button-down .path1:before {
  content: "\e914";
  color: rgb(216, 216, 216);
}
.icon-Button-down .path2:before {
  content: "\e915";
  margin-left: -0.75em;
  color: rgb(30, 30, 30);
}
.icon-Button-normal:before {
  content: "\e916";
  color: #d8d8d8;
}
.icon-Button-UP .path1:before {
  content: "\e917";
  color: rgb(30, 30, 30);
}
.icon-Button-UP .path2:before {
  content: "\e918";
  margin-left: -0.75em;
  color: rgb(216, 216, 216);
}
.icon-correct:before {
  content: "\e919";
}
.icon-evaluation-result-share:before {
  content: "\e91a";
}
.icon-go-ahead:before {
  content: "\e91b";
}
.icon-wrong:before {
  content: "\e91c";
}
.icon-education:before {
  content: "\e91d";
}
.icon-work:before {
  content: "\e91e";
}
.icon-evaluation:before {
  content: "\e921";
}
.icon-invest:before {
  content: "\e922";
}
.icon-live2:before {
  content: "\e923";
}
.icon-overseas-live:before {
  content: "\e924";
}
.icon-policy:before {
  content: "\e925";
}
.icon-raiders:before {
  content: "\e926";
}
.icon-welfare:before {
  content: "\e927";
}
.icon-konjian:before {
  content: "\e928";
}
.icon-pengyouquan:before {
  content: "\e929";
}
.icon-qq:before {
  content: "\e92a";
}
.icon-weixin:before {
  content: "\e92b";
}
